{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page-header">
Lignes
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>{% trans "Name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for line in object_list %}
      <tr>
	<td><a href="{{line.get_absolute_url}}">{{line.name}}</a></td>
	<td><span class="badge" style="background-color: {{line.colour}}">{{line.ref}}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
